.dropWindow {
    $bdrs: 5px;

    background: $gray;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: white 1px solid;
    border-radius: $bdrs;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    z-index: 1000;

    header {
        padding: 5px;
        background: $middleGrey;
        width: 100%;
        border-radius: $bdrs $bdrs 0 0;
        display: flex;
        justify-content: center;
        cursor: default;
    }

    main {
        width: 100%;
        height: 100%;
        padding: 20px;

        .newFile {
            div {
                margin: 10px;
                display: flex;
                align-items: center;

                span {
                    width: 50px;
                    display: inline-block;
                }

                input {
                    border: 0;
                    border-radius: 3px;
                    padding: 5px;
                    width: 145px;
                    outline: none;

                    &[type="number"] {
                        width: 65px;
                    }
                }

                button {
                    width: 195px;
                    border-radius: 3px;
                    border: 0;
                    outline: none;
                    padding: 5px;
                }
            }

        }
    }
}
