.workSpace {
    display: flex;
    width: 100%;
    height: 100%;
    flex-grow: 1;

    .instrumentWrapper {
        display: flex;
        flex-direction: column;
        background: $gray;
        width: 35px;
        align-items: center;
        margin: 5px 0;
        border-radius: 0 5px 5px 0;
        padding: 5px;

        .instrument {
            padding: 4px;
            border-radius: 3px;

            &.active {
                background: $moreGray;
            }
        }
    }

    .canvasWrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: calc(100% - 35px);
        padding: 5px;
        padding-top: 0;

        .listTabs {
            height: 25px;
            display: flex;
            margin-top: 5px;
            border-radius: 0 0 5px 5px;
            background: $gray;
            margin-bottom: 5px;

            .tab {
                min-width: 100px;
                max-width: 200px;
                overflow: hidden;
                color: white;
                padding: 0 10px;
                align-items: center;
                display: flex;
                white-space: nowrap;
                border-right: 4px solid $moreGray;
                position: relative;
                padding-right: 22px;
                cursor: pointer;

                &.active {
                    background: $middleGrey;
                }
            }
        }

        .mainTabWrapper {
            width: 100%;
            height: 100%;
        }
    }
}
