#root {
    width: 100%;
    height: 100%;

    .paintWrapper {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        height: 100%;

        @import './inner/header.scss';
        @import './inner/main.scss';
        @import './inner/footer.scss';
        @import './inner/dragAndDropWindows.scss';
    }

}
